<form class="form" #f="ngForm" (submit)="creer()">
    <fieldset>
      <legend>General Information</legend>
                   <div>
                       <label for="nom">Nom</label>
                       <input type="text" name="nom" required [(ngModel)]="client.nom" ngControl="nom">
                   </div>
                   <div>
                       <label for="prenom">Prenom</label>
                       <input type="text" name="prenom" required [(ngModel)]="client.prenom" ngControl="prenom">
                   </div>
                   <div>
                    <label for="mail">mail</label>
                    <input type="text" name="mail" required [(ngModel)]="client.mail" ngControl="mail">
                </div>

                <div>
                    <label for="mdp">Mot de passe</label>
                    <input type="text" name="mdp" required [(ngModel)]="client.mdp" ngControl="mdp">
                </div>

               </fieldset>

               <div>
                   <button [disabled]="!f.valid">Save</button>
                 <!--  <button type="button" class="btn btn-default" (click)="cancel()"><i class="fa fa-save"></i> Cancel</button>-->
               </div>
 </form>